
.image {
  border-radius: 3em;
}

.post {
	padding: 10px;
	background: rgba(.5,.5,.5,.13);
	border-bottom: 1px solid rgba(129,131,132,.2);
}

.post-title {
	font-family: cantarell, Arial;
	font-weight: 600;
	font-size: 22px;
}
.post-author {
  font-family: cantarell, Arial;
	font-size: 15px;
	opacity: .5;
}

.votes {
  padding-left: 10px;
  font-family: cantarell, Arial;
	font-weight: 600;
	font-size: 16px;
	border-left: 1px solid rgba(129,131,132,.2);
}

.subreddit-title {
  margin-left: 5px;
  font-family: cantarell, Arial;
	font-weight: 600;
	font-size: 15px;
}

.arrow-up {
  margin-right: 4px;
}

.message {
  margin-right: 4px;
}
