
.image {
  border-radius: 3em;
}


.post-title {
	font-size: 20px;
	font-weight: 500;
	font-family: Helvetica;
}

.post {
	padding: 10px;
}

.post-author {
	background: rgba(.5,.5,.5,.2);
	border-radius: 2em;
	padding: 5px 5px 5px 10px;
}
